body{
	font-family: 'Open Sans', sans-serif;
	background: url(img/hd/exbg.png) no-repeat #666;
	overflow-x:hidden;
	background-blend-mode: color;
}

#tle{
	font-family: 'Unica One', cursive;
	color:#222;
	padding-top:1em;
	font-size:45px;
	mix-blend-mode: overlay;
}
#tle h4{
	font-family:'Open Sans', sans-serif;
	font-size:40px;
}

#nav{
	mix-blend-mode: multiply;
	padding-top:2em;
}

ul.mainnavACTIVE{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
ul.mainnavOFF{
	list-style-type:none;
	margin-top:30px;
	padding:0;
	overflow:hidden;
}

ul.mainnavACTIVE li a{
	display:inline;
}
ul.mainnavOFF li{
	display:inline-block;
}

ul.mainnavACTIVE li a:hover {opacity:0.5;}

ul.mainnavACTIVE li h3{
	margin-top:-0.5px;
	color:#777;
	font-size:18px;
}
ul.mainnavOFF li h3{
	margin-top:-0.5px;
	color:#777;
	font-size:18px;
	opacity:0.5;
}