body {
	margin: 0;
	background: url(img/hd/bg.jpg) 50% 50% no-repeat #000;
	text-align: left;
	height:3020px;
	overflow-x: hidden;
}

.header {
	display:none;
	position:fixed;
	top:0px;
	z-index:1050;
}

*{
	font-family: Verdana, Geneva, sans-serif;
}

.main{
	position:absolute;
	z-index:850;
}

.mhead{
	position:relative;
	z-index:1200;
}

#load {
	position:fixed;
	left:0px;
	top:0px;
	width: 100%;
	height: 100%;
	z-index: 1050;
	opacity: 1.0;
	background: url(img/poi.gif) 50% 50% no-repeat #fff;
}

ul.midnav{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
}
ul.midnav li {float:left;}

ul.midnav li a{
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 10px 7px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}
ul.midnav li a:hover {opacity:0.5;}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a{
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}


ul.topnav li a:hover {opacity:0.5;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:500px) {
	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		position:fixed;
		top:0px;
		right:0px;
		display: inline-block;
		color:#fff;
	}
}

@media screen and (max-width:500px) {
	ul.topnav.responsive {posiiton: relative;}
	ul.topnav.responsive li.icon {
		position:fixed;
		right:0px;
		top:0px;
	}
	ul.topnav.responsive li {
		float:none;
		display:inline;
	}
	ul.topnav.responsive li a{
		display: block;
	}
}