body {
	margin: 0;
	background: #000;
	text-align: left;
	overflow: hidden;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
	font-family: Helvetica;
}

#load {
	position:fixed;
	left:0px;
	top:0px;
	width: 100%;
	height: 100%;
	z-index: 1050;
	opacity: 0.9;
	background: url(img/poi.gif) 50% 50% repeat #202020;
}

.header {
	position:fixed;
	top:0px;
	z-index:1100;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a{
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

ul.topnav li a:hover {opacity:0.5;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:500px) {
	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		position:fixed;
		top:0px;
		right:0px;
		display: inline-block;
		color:#fff;
	}
}

@media screen and (max-width:500px) {
	ul.topnav.responsive {posiiton: relative;}
	ul.topnav.responsive li.icon {
		position:fixed;
		right:0px;
		top:0px;
	}
	ul.topnav.responsive li {
		float:none;
		display:inline;
	}
	ul.topnav.responsive li a{
		display: block;
	}
}

#logo {
	position:relative;
	z-index:950;
}

#contact{
	position:relative;
	z-index:950;
}