body {
	margin: 0;
	background: #ffffff;
	text-align: left;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
	font-family: Helvetica;
}

.header {
	position:fixed;
	top:0px;
	z-index:1000;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color #333;
}

ul.topnav li {float: left;}

ul.topnav li a{
	display: inline-block;
	color: #666666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:500px) {
	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		position:fixed;
		top:0px;
		right:0px;
		display: inline-block;
	}
}

@media screen and (max-width:500px) {
	ul.topnav.responsive {posiiton: relative;}
	ul.topnav.responsive li.icon {
		position:fixed;
		right:0px;
		top:0px;
	}
	ul.topnav.responsive li {
		float:none;
		display:inline;
	}
	ul.topnav.responsive li a{
		display: block;
		text-align:left;
	}
}

#logo {
	position:relative;
	z-index:950;
}

#contact{
	position:relative;
	z-index:950;
}