html{
	height: 100%;
	background: #00e699;
    background: -webkit-linear-gradient(45deg, #737373, #00ffff);
    background: -o-linear-gradient(45deg, #737373, #00ffff);
    background: -moz-linear-gradient(45deg, #737373, #00ffff); 
    background: linear-gradient(45deg, #737373, #00ffff);
}

body{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	min-height: 100%;
  	min-height: 100vh;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

content{
	display:flex;
	position:relative;
	z-index:1000;
}

.midnav{
	display:flex;
	list-style-type:none;
	margin-left:-9px;
}

ul.midnav li a{
	padding: 10px 17px;
	transition:0.3s;
}

ul.midnav li a:hover{opacity:0.5;}

#content h2{
	margin-left: 68px;
}

#load {
	position:fixed;
	left:0px;
	top:0px;
	width: 100%;
	height: 100%;
	z-index: 1050;
	opacity: 1.0;
	background: url(img/poi.gif) 50% 50% no-repeat #fff;
}

#content{
	padding: 0;
	margin: 0;
	position:fixed;
	z-index:1000;
}

#background{
	position:fixed;
	background-color:white;
	opacity:0.3;
	width:100%;
	height:500px;
	z-index:900;
}

#profile{
	margin-top: 10px;
	width:300px;
	height:auto;
}