html{
	height: 100%;
	background: #00e699;
    background: -webkit-linear-gradient(45deg, #4251C2, #00ffff);
    background: -o-linear-gradient(45deg, #4251C2, #00ffff);
    background: -moz-linear-gradient(45deg, #4251C2, #00ffff);
    background: linear-gradient(45deg, #4251C2, #00ffff);
}

body{
	overflow:hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    flex-shrink: 0;

	height: 100%;
	font-family: 'Miriam Libre', sans-serif;
	margin: 0;
	padding: 0;
}

.midnav{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	list-style-type:none;
	margin-left:-38px;
}

ul.midnav li a{
	padding: 10px 17px;
	transition:0.3s;
}

ul.midnav li a:hover{opacity:0.5;}

#load {
	position:fixed;
	left:0px;
	top:0px;
	width: 100%;
	height: 100%;
	z-index: 1050;
	opacity: 1.0;
	background: url(img/poi.gif) 50% 50% no-repeat #fff;
}

#content{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-shrink: 0;

	position:relative;
	padding: 0;
	margin: 0;
	background-color:rgba(255,255,255,0.3);
	width:100%;
	height:500px;
	z-index:900;
}

#para{
	font-family: sans-serif;
	font-size:12px;
}

#projpic{
	width:100px;
	height:auto;
}

#projects{
	background-color:rgba(255,255,255,0.3);
	/*background: url(img/bg.png) 45% 50%;*/
	width:100%;
	height:500px;
	z-index:900;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#ytmusic{
	height:100px;
	width:auto;
	cursor:pointer;
}
#website{
	width:100px;
	height:auto;
	cursor:pointer;
}
#contact{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	flex-shrink: 0;
	position:relative;
}
a{
	transition: 0.3s;
}
a:hover{
	opacity:0.3;
}
#arrow{
	width:50px;
	height:auto;
	opacity:0.7;
	position:absolute;
	bottom:-10px;
	margin-left:-26px;
}
#notif{ /*this is part of the "help" part of the website to be added*/
	font-family:sans-serif;
	font-size:12px;
	font-style:none;
	bottom:0;
	display:none;
	position:absolute;
	opacity:0.7;
	color:black;
}
.about{
	font-family: sans-serif;
	position:fixed;
	margin-left:-172px;
	margin-top:-330px;
	width:310px;
	height:auto;
	background-color:rgba(0,0,0,0.6);
	border-radius:15px;
	z-index:1250;
	color:white;
	font-size: 12px;
	padding: 15px 17px;
}

#person{
	margin-top:-180px;
	margin-bottom:110px;
	margin-right:70px;
	z-index:1150;
	cursor: auto;
}

#person img{
	width:48px;
	height:auto;
	padding: 10px 10px;
	-o-transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

#person img:hover{ opacity:0.5; }

#mail{
	margin-top:-179px;
	margin-bottom:110px;
	margin-left:70px;
	z-index:1150;
}

#mail img{
	width:40px;
	height:auto;
	padding: 10px 10px;
	-o-transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

#mail img:hover{ opacity:0.5; }

#profile{
	display:block;
	padding-top:50px;
	width:300px;
	height:auto;
	z-index:1000;
}
