html{
	height: 100%;
	background: #00e699;
    background: -webkit-linear-gradient(45deg, #4251C2, #00ffff);
    background: -o-linear-gradient(45deg, #4251C2, #00ffff);
    background: -moz-linear-gradient(45deg, #4251C2, #00ffff); 
    background: linear-gradient(45deg, #4251C2, #00ffff);
}

body{
	overflow:hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    flex-shrink: 0;
    
	height: 100%;
	font-family: 'Miriam Libre', sans-serif;
	margin: 0;
	padding: 0;
}

.midnav{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	list-style-type:none;
	margin-left:-38px;
}

ul.midnav li a{
	padding: 10px 17px;
	transition:0.3s;
}

ul.midnav li a:hover{opacity:0.5;}

#load {
	position:fixed;
	left:0px;
	top:0px;
	width: 100%;
	height: 100%;
	z-index: 1050;
	opacity: 1.0;
	background: url(img/poi.gif) 50% 50% no-repeat #fff;
}

#content{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-shrink: 0;

	position:relative;
	padding: 0;
	margin: 0;
	background-color:rgba(255,255,255,0.3);
	width:100%;
	height:500px;
	z-index:900;
}

#contact{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	flex-shrink: 0;
	position:relative;
}

.about{
	font-family: sans-serif;
	position:fixed;
	margin-left:-170px;
	margin-top:-317px;
	width:310px;
	height:290px;
	background-color:rgba(0,0,0,0.6);
	border-radius:15px;
	z-index:1250;
	color:white;
	font-size: 12px;
	padding: 15px 17px;

	/* text centering
	text-align: center;
	vertical-align: middle;
	line-height:420px;
	*/
}

#person{
	margin-top:-180px;
	margin-bottom:110px;
	z-index:1150;
	cursor: auto;
}

#person img{
	width:48px;
	height:auto;
	padding: 10px 10px;
}

#profile{
	display:flex;
	padding-top:50px;
	width:300px;
	height:auto;
}